.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel .next-song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}